<h1 class="mb-1 restaurant-show-title">Error:{{error}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div class="text-center">
        <a href="/" class="text-secondary"><button>back</button></a>
      </div>
    </div>
  </div>
</div>